<div class="container">
  <div class="row offset-5 mt-5">
    <h4>本当に退会しますか？</h4>
  </div>
  <div class="row offset-4 mt-2 text-align">
    <p class="text-center">
     退会すると、会員登録情報や</br>
    これまでの購入履歴が閲覧できなくなります。</br>
    退会する場合は、「退会する」をクリックしてください。
    </p>
  </div>

<div class="row mb-5">
  <div class="col-2 offset-5">
    <%= link_to "退会しない", customers_my_page_path, method: :get, style: 'background-color: #3399FF	; color: white;', class: "btn custom-button" %>
  </div>
  <div>
    <%= link_to "退会する", withdrawal_path, method: :patch, data: { confirm: "本当に退会しますか？" }, class: "btn btn-danger", style: "width: 105px;" %>
  </div>
</div>